<script>
  window.twttr = (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0],
    t = window.twttr || {};

    if (d.getElementById(id)) return t;

    js = d.createElement(s);
    js.id = id;
    js.src = "https://platform.twitter.com/widgets.js";

    fjs.parentNode.insertBefore(js, fjs);

    t._e = [];
    t.ready = function(f) { t._e.push(f); };

    return t;
  }(document, "script", "twitter-wjs"));
</script>

<% if @topic.tweets.present? %>
  <div class="testi parallax " data-stellar-background-ratio="0.5" id="tweets-parallax">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2 text-center">
        <h1>Recent Tweets About <%= @topic.name %></h1>
          <div id="testi-carousel" class="owl-carousel">
            <% @topic.tweets.each do |tweet|%>
            <a href = "<%= tweet['url'] %>" target="_blank">
            <div>
              <% if tweet['photo_url'] %>
                <img src="<%= tweet['photo_url'] %>" alt="">
              <% else %>
                <img src="<%= asset_path('twitter-bird-logo-2.png') %>" alt="">
               <% end %>
              <h4><%= tweet['text'] %></h4>
              <p><%= tweet['tweeter'] %></p>
            </div><!--testimonials item like paragraph-->
            </a>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>