<script>
  window.twttr = (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0],
    t = window.twttr || {};

    if (d.getElementById(id)) return t;

    js = d.createElement(s);
    js.id = id;
    js.src = "https://platform.twitter.com/widgets.js";

    fjs.parentNode.insertBefore(js, fjs);

    t._e = [];
    t.ready = function(f) { t._e.push(f); };

    return t;
  }(document, "script", "twitter-wjs"));
</script>

<% if @topic.tweets.present? %>
  <div class="row test">
    <h1>Recent Popular Tweets</h1>
    <div class="portfolio-box iso-call work-col-8">
      <% @topic.tweets.each do |tweet|%>
      <div class="image-wrapper col-sm-4 nopadding">
        <img src="<%= asset_path( 'tweet.png' ) %>" alt="" class="img-responsive">
        <h3 class="tweet"><%= tweet['tweeter'] %>: <%= tweet['text'] %></h3>
        <div class="image-overlay">
          <% if tweet['photo_url'] %>
           <img src="<%= tweet['photo_url'] %>" alt="" class="img-responsive">
           <% end %>
          <%= link_to tweet['text'], tweet['url'] %>
        </div>
      </div>
    <% end %>
    </div>
  </div>
<% end %>