<div id="email-form">

<div class="container col-md-12 text-center">

<% if @user.email && @report.active == false %>
  <%= form_for [@user, @topic, @report], as: :report, html: {class: "  form-group"} do |f| %>
  <div class="row col-sm-4 col-sm-offset-4 input-group">
    <%= f.label :frequency, "How often would you like to receive email updates?" %>
    <%= f.select (:frequency) do %>
      <% [['Every day', 1], ['Every three days', 3], ['Every week', 7]].each do |c| -%>
      <%= content_tag(:option, c.first, value: c.last) %>
      <% end %>
    <% end %>
    <%= f.hidden_field :topic_id, :value => @topic.id %>
    <%= f.hidden_field :active, :value => true %>
    <span class="input-group-btn"><%= f.submit "Subscribe", class: "add-padding-btn btn btn-theme-color btn-lg"%></span>
  <% end %>
  </div>

<% elsif @user.email && @report.active == true %>
  <%= form_for [@user, @topic, @report], as: :report, html: {class: "  form-group"} do |f| %>
  <div class="row col-sm-4 col-sm-offset-4 input-group">
    <p>You are subscribed for email updates on <%= @topic.name %></p>
    <%= f.hidden_field :active, :value => false %>
    <span class="input-group-btn"><%= f.submit "Unsubscribe", class: "add-padding-btn btn btn-theme-color btn-lg"%></span>
  <% end %>
  </div>

<% else %>
  <%= form_for(@user) do |f|%>
  <div class="row col-sm-4 col-sm-offset-4 input-group">
  <%= f.label :email %>
  <%= f.text_field :email, class: "form-control", placeholder: "user@user.com" %>
    <%= f.fields_for [@user, @topic, @report], as: :report, html: {class: "  form-group"} do |ff| %>
      <%= ff.label :frequency, "How often would you like to receive email updates?" %>
      <%= ff.select (:frequency) do %>
        <% [['Every day', 1], ['Every three days', 3], ['Every week', 7]].each do |c| -%>
        <%= content_tag(:option, c.first, value: c.last) %>
        <% end %>
      <% end %>
      <%= ff.hidden_field :topic_id, :value => @topic.id %>
      <%= ff.hidden_field :active, :value => true %>
    <% end %>
  <span class="input-group-btn"><%= f.submit "Sign up for email updates!", class: "add-padding-btn btn btn-theme-color btn-lg"%></span>
  <% end %>
  </div>
<% end %>
</div>
</div>
