<%= form_for(@user) do |f|%>
  <div class="row col-sm-4 col-sm-offset-4 input-group">
  <%= f.label :email %>
  <%= f.text_field :email %>
    render partial: '', locals: {form: f}
    <%= f.fields_for [@user, @pretendee, @report], as: :report, html: {class: "  form-group"} do |ff| %>
      <%= ff.label :frequency, "How often would you like to receive email updates?" %>
      <%= ff.select (:frequency) do %>
        <% [['Every day', 1], ['Every three days', 3], ['Every week', 7]].each do |c| -%>
        <%= content_tag(:option, c.first, value: c.last) %>
        <% end %>
      <% end %>
      <%= ff.hidden_field :pretendee_id, :value => @pretendee.id %>
      <%= ff.hidden_field :active, :value => true %>
    <% end %>
  <span class="input-group-btn"><%= f.submit "Sign up for email updates!", class: "add-padding-btn btn btn-theme-color btn-lg"%></span>
  </div>
<% end %>