<%= render 'layouts/navigation' %>

<%= render 'pretendees/form' %>
<%= render 'users/pretendees' %>

<<<<<<< Updated upstream
<%= render 'new_user_topic' %>
<%= render 'topics' %>
=======
<%= render 'users/new_user_topic' %>
<div id="topics"><%= render 'users/topics' %></div>
>>>>>>> Stashed changes
