<div class="image-wrapper col-sm-3 nopadding">
  <img src='https://raw.githubusercontent.com/esmyser/Pretender/master/app/assets/images/green_square_email.png' alt="" class="img-responsive">
  <div class="image-overlay"> 
  <p>
<% if @user.email && @report.active == false %>
  <%= form_for [@user, @pretendee, @report], as: :report, html: {class: "  form-group"} do |f| %>
    <%= f.label :frequency, "How often would you like to receive email updates?" %>
    <%= f.select (:frequency) do %>
      <% [['Every day', 1], ['Every three days', 3], ['Every week', 7]].each do |c| -%>
      <%= content_tag(:option, c.first, value: c.last) %>
      <% end %>
    <% end %>
    <%= f.hidden_field :pretendee_id, :value => @pretendee.id %>
    <%= f.hidden_field :active, :value => true %>
    <%= f.submit "Subscribe", class: "btn btn-defaul btn-primary" %>
  <% end %>
<% elsif @user.email && @report.active == true %>
  <%= form_for [@user, @pretendee, @report], as: :report, html: {class: "  form-group"} do |f| %>
    <%= f.hidden_field :active, :value => false %>
    <%= f.submit "Unsubscribe", class: "btn btn-defaul btn-primary" %>
  <% end %>
<% else %>
  <%= form_for(@user) do |f|%>
  <%= f.label :email %>
  <%= f.text_field :email %>
    <%= f.fields_for [@user, @pretendee, @report], as: :report, html: {class: "  form-group"} do |ff| %>
      <%= ff.label :frequency, "How often would you like to receive email updates?" %>
      <%= ff.select (:frequency) do %>
        <% [['Every day', 1], ['Every three days', 3], ['Every week', 7]].each do |c| -%>
        <%= content_tag(:option, c.first, value: c.last) %>
        <% end %>
      <% end %>
      <%= ff.hidden_field :pretendee_id, :value => @pretendee.id %>
      <%= ff.hidden_field :active, :value => true %>
    <% end %>
  <%= f.submit "Sign up for email updates!", class: "btn btn-defaul btn-primary" %>
  <% end %>
<% end %>
</p>
</div>
</div>