<div class="services-section-3-ezra services-section-2 parallax">
  <div class="container col-md-12 text-center">

    <h1>Add a topic</h1>
    <p>Learn more about <%= @pretendee.first_name %>'s interests.</p>
    
    <%= form_for [@user, @pretendee, @topic], as: :topic, html: {class: "newsletter-form"} do |f| %>
      <div class="row col-sm-4 col-sm-offset-4 input-group">
      <%= f.text_field :name, class: "form-control", placeholder: "What do you want to \"know\" about?" %>
      <%= f.hidden_field :pretendee_id, :value => @pretendee.id %>
        <span class="input-group-btn"><%= f.submit "Get Learning", class: "add-padding-btn btn btn-theme-color btn-lg"%></span>
    <% end %>
    </div>
  </div>
</div>