<%= form_for [@user, @pretendee, @report], as: :report, html: {class: "  form-group"} do |f| %>
  <div class="row col-sm-4 col-sm-offset-4 input-group">
    <%= f.label :frequency, "How often would you like to receive email updates?" %>
    <%= f.select (:frequency) do %>
      <% [['Every day', 1], ['Every three days', 3], ['Every week', 7]].each do |c| -%>
      <%= content_tag(:option, c.first, value: c.last) %>
      <% end %>
    <% end %>
    <%= f.hidden_field :pretendee_id, :value => @pretendee.id %>
    <%= f.hidden_field :active, :value => true %>
    <span class="input-group-btn"><%= f.submit "Subscribe", class: "add-padding-btn btn btn-theme-color btn-lg"%></span>
  </div>
<% end %>
