<!DOCTYPE html>
<html>
<head>
  <!-- seth messing around with wordcloud -->
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
  <link rel="stylesheet" type="text/css" href="/assets/jqcloud.css" />
  <script type="text/javascript" src="/assets/jqcloud-1.0.4.js"></script>
  <script type="text/javascript"></script>

  <title>Pretender</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <!--   <%#= javascript_include_tag 'application' %> -->
  <%= csrf_meta_tags %>
</head>
<body>

  <%= flash[:notice] %>

  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">pretender.io</a>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li>
            <% if current_user %>
              <%= link_to "dashboard", user_path(current_user) %></li>
              <li><%= link_to "your creeps", user_pretendees_path(current_user) %>
              </li>
              <li>
                <a href="#">
                  your topics
                </a>
              </li>
            <% end %>
            <li>
              <% if current_user %>
              <%= link_to "log out", signout_path %>
              <% else %>
              <%= link_to "sign in", "/auth/twitter" %>
              <% end %>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

<div class="container">
    <%= yield %>
</div>

  </body>
  </html>


