<!DOCTYPE html>
<html lang="en">
  <head>
    <title>pretender.io</title>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="//js.pusher.com/2.2/pusher.min.js"></script>

    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script>
  </head>

  <body data-spy="scroll" data-target="#navigation" data-offset="80">
    <%= yield %>
  </body>

  <%= render 'layouts/footer' %>
</html>
